<% layout('layouts/boilerplate') %>
      <div class="row">
            <h1 class="text-center">New Trekking</h1>
            <div class="col-6 offset-3">
                  <form action="/treks" method="post" novalidate class="validated-form">
                        <div class="contianer-fluid">
                              <label for="name" class="form-label">Name : </label>
                              <input type="text" id="name" class="form-control" name="trekking[name]" required>
                        </div>
                        <div class="contianer-fluid">
                              <label for="location" class="form-label">Location : </label>
                              <input type="text" id="name" class="form-control" name="trekking[location]" required>
                        </div>
                        <div class="contianer-fluid">
                              <label for="district" class="form-label">District : </label>
                              <input type="text" id="district" class="form-control" name="trekking[district]" required>
                        </div>
                        <div class="contianer-fluid">
                              <label for="image" class="form-label">Image URL : </label>
                              <input type="text" id="image" class="form-control" name="trekking[image]" required>
                        </div>
                        <div class="contianer-fluid">
                              <label for="description" class="form-label">Description : </label>
                              <textarea type="text" id="description" class="form-control"
                                    name="trekking[description]"></textarea>
                        </div>
                        <div>
                              <button type="submit" class="btn btn-primary mt-5">Add New</button>
                        </div>
                  </form>

            </div>
      </div>
      </div>